h1 {
    text-align: center;
}
th {
    padding-top: 1em;
    padding-bottom: .5em;
}
table {
    width: 35%;
    border: 1px solid black;
    padding: .5em;
}
th {
    border-top: 1px solid black;
}
.centrar{
    text-align: justify;
}
.tabla {
 text-align: center;
}
.tabla td {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
}